body {
  background-color: lavenderblush;
  font-family: Helvetica, Verdana, sans-serif;
  padding-top: 80px;
  margin-bottom: 25px;
  padding-left: 150px;
  margin-right: 40px;
}
  nav {
    font-family: Georgia, Garamond, serif;
    color: darkred;
    text-align: center;
  }
a {
  text-decoration: none;
  color: darkred;
}
img {
  padding-left: 75px;
}
